<ion-view>
    <ion-content id="fullride-content">

      <header id="fullride-header">
        <h1 class="fullride-title"> Full Ride</h1>
        <div class="fullride-image-container">
          <img class="fullride-image"  ng-src={{fullride.imgUrl}} alt="image"/>
        </div>
      </header>

      <section class="fullride-card-container">

          <div class="fullride-card" ng-repeat="theme in themes" ng-click="goToOffer(theme.type)"> <!-- Show only the reference selected on the coverflow-->

              <div class="fullride-card-theme">
                <div class="fullride-card-theme-name">
                  {{theme.type}}
                </div>
              </div>

              <div class="fullride-card-list-container">
                <div class="fullride-card-list-element" ng-repeat="offer in offersDetail" ng-show={{offer.type==theme.type}}>
                  <div class="fullride-card-list-element-content">
                    {{offer.name}}
                  </div>
                </div>
              </div>

      </section>
      <footer class="fullride-theme-description">
          <p>Les devis se font sur mesure pour s'adapter à vos besoins, n'hésitez pas à nous contacter</p>
      </footer>
    </ion-content>

</ion-view>
