/*
  @desc show contact information
  @author Qi W on 06/03/2017
  @required __
-->*/

.contacts {
    background-color: #f0f0f0;
    background-size: 100% 100%;
    font-family: 'HelveticaNeueLT', serif;
}
.contacts-header {
	margin-top: 1%;
	width: 100%;
	margin-bottom: 3%;
}

.contacts-header h1{
    font-family: 'HelveticaNeueLT', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    color: #275466;
    margin-right:5%;
    margin-left: 5%;
    text-align: center;
    border-bottom: 1px solid #aab4b9;
}
#ContactContent{
  display: flex;
  flex-direction: row;
}
.contact{
  background-color: white;
  border:2px solid #aab4b9;
  box-shadow: 0px 8px 8px #275466;
  background-size: 100% 100%;
  height: 80%;
  width: 30%;
  margin-left: 2.6%;
  font-family: 'HelveticaNeueLT' , serif;
  display: flex;
  flex-direction: column;

}

.Information{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ContactName{
  font-family: 'HelveticaNeueLT', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  height: 20%;
  line-height: 5%;
  padding-top: 20%;
  text-align: center;
}
.responsable{
  font-family: 'HelveticaNeueLT', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.7em;
  height: 20%;
  padding-top: 5%;
  border-bottom: 1px solid #aab4b9;
  margin-right:5%;
  margin-left: 5%;
}
.Email{
  font-family: 'HelveticaNeueLT', serif;
  font-weight: normal;
  font-style: normal;
  height: 33.3%;
  padding-top: 4%;
  margin-left: 8%;
  display: flex;
}
.IconeEmail{
  width: 50;
  height: 50;
}
.AdressEmail{
  font-size: 1.5em;
  line-height: 1.5;
  margin-right: 8%;
}
.Phone{

  font-family: 'HelveticaNeueLT', serif;
  font-weight: normal;
  font-style: normal;
  height: 33.3%;
  padding-top: 4%;
  margin-left: 8%;
  display: flex;
}

.IconePhone{
  margin-left: 0%;
  margin-top: -3%;
  width: 50;
  height: 50;
}
.PhoneNumber{
  font-size: 1.5em;
  padding-left:4%;
  margin-top : 2%;
}
.Photo{
  display: flex;
  text-align: center;
  padding-top: 25;
  padding-bottom: 100;
}
.ContactPhoto{
  margin-left: 25%;
  margin-top: 5%;
  height: 30%;
  width:50%;
}
