
@font-face{
  font-family : 'HelveticaNeueLT';
  src : url('../fonts/HelveticaNeueLTStd Lt.otf') format('opentype'),
        url('../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}
/* This code puts the font in all the text in the application */
.ion-view{
  font-family: 'HelveticaNeueLT', 'serif';
}
.ion-person{
  font-size: 18px;
  color: #008DC8;
}
.ion-arrow-right-c{
  font-size: 18px;
  color: #008DC8;
}
.logoFabrique{
    max-height: 60%;
    max-width: 60%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}
 .spikeCapgemini{
   max-height: 40%;
   max-width: 40%;
   overflow: visible;
   padding-top: 0;
   padding-bottom: 0;
   text-decoration: none;
 }
#contact{
  font-weight: bold;
}

/*<!--
  @desc CSS application
  @author [Manon R] on  [04/01/2017]
-->
* @edit [CSS presentation page]
*/
